/* ===============================
   Tailwind Base Imports
   =============================== */
@import "tailwindcss";

/* ===============================
   Third-party Animations
   =============================== */
@import "tw-animate-css";

/* ===============================
   Google Fonts
   =============================== */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

/* ===============================
   Local Fonts
   =============================== */
@font-face {
  font-family: "Agrandir Regular";
  src: url("/fonts/Agrandir-Regular.otf") format("opentype");
  display: swap;
}

@font-face {
  font-family: "Helvetica Regular";
  src: url("/fonts/Helvetica.ttf") format("opentype");
  display: swap;
}

@font-face {
  font-family: "The Seasons Bold";
  src: url("/fonts/Fontspring-DEMO-theseasons-bd.otf") format("opentype");
  display: swap;
}

@font-face {
  font-family: "29lt Zawi Bold";
  src: url("/fonts/29lt-zawi-bold.otf") format("opentype");
  display: swap;
}

@font-face {
  font-family: "NeueMachina Ultrabold";
  src: url("/fonts/NeueMachina-Ultrabold.otf") format("opentype");
  display: swap;
}

@font-face {
  font-family:"Rig BoldHalftone";
  src: url("/fonts/Rig-BoldHalftone.ttf") format("opentype");
  display: swap;
}
@font-face {
  font-family:"PlayFaire Bold Italic";
  src: url("/public/fonts/PlayfairDisplay-BoldItalic.ttf") format("opentype");
  display: swap;
}

/* ===============================
   Utility Classes for Fonts
   =============================== */
.font-agrandir { font-family: "Agrandir Regular", sans-serif; }
.font-dm { font-family: "DM Sans", sans-serif; }
.font-helvetica { font-family: "Helvetica Regular", sans-serif; }
.font-seasons-bold { font-family: "The Seasons Bold", sans-serif; }
.font-playfair-boldItalic { font-family: "PlayFaire Bold Italic", serif; }
.font-poppins { font-family: "Poppins", sans-serif; }
.font-zawi-bold { font-family: "29lt Zawi Bold", sans-serif; }
.font-neue-ultraBold { font-family: "NeueMachina Ultrabold", sans-serif; }
.font-rig-bold { font-family: "Rig BoldHalftone", sans-serif; }

/* ===============================
   Light / Dark Theme Variables
   =============================== */
:root {
  --background-color: #f1f1f1;
  --foreground-color: oklch(0 0 0);
  --primary-color: oklch(0.6033 0.2146 269.58);
  --border-color:#070404;
  --secondary-background: #ffffff;
}

.dark {
  --background-color: oklch(0.2 0 0);
  --foreground-color: #f1f1f1;
  --primary-color: oklch(0.6033 0.2146 269.58);
  --border-color:#f1f1f1;
}

/* ===============================
   Base Styles
   =============================== */
html {
  transition: background-color 0.3s, color 0.3s;
}
